* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    margin: 16px auto;
}

td:hover {
    background-color: orange;
}

td,
th {
    padding: 4px 8px;
    cursor: pointer;
}