* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    padding: 16px 64px;
    width: 500px;
    margin: auto;
    position: relative;
}

#timer {
    border: 2px solid #000;
    border-radius: 5px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 3em;
    font-weight: 500;
}

#millisecond {
    position: absolute;
    top: 90px;
    right: 140px;
    width: 30px;
    height: 30px;
    font-size: 0.8em;
}

#button {
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
}

button {
    border: 3px solid #ccc;
    outline: none;
    padding: 16px 48px;
    font-size: 1.5em;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    opacity: 0.8;
}

button.green {
    background-color: #3FEA00;
}

button.red {
    background-color: #F80703;
}

button.blue {
    background-color: rgba(11, 11, 148, 0.849);
}